<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EHealth2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EHealth2_GS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EHealth2_QH.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EHealth2_RBJK.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>EHealth2_RBS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>EHealth2_RBS_BF.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>EHealth2_TPC_XS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>EHealth2_TPY.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>EHealth2_XC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EHealth2_XF.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A1AEA1C1C0BDC54004714AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A37D37E1BEC388900ACE955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A3FD1C81B0DD2D400B09838</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A3FD1E11B0DD2D400B09838</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A42544B1B9FD13800B605FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A8CCFC71B7C90890047E1D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AA851C21BFECF130057B0A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AAC23081B8C76AA00969A4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AB7B3601B7B3AF200D5143B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AB7B4871B7B41F200D5143B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AB7B5AF1B7B446C00D5143B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AB7B6D51B7B470400D5143B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AB7B7F91B7B470800D5143B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2ABFCC3C1BD4A1B40027E9CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AC132BB1BD79B4E002EAB34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
